.root {
  display: flex;
  min-width: 6rem;
  padding: 0.375rem 0.75rem;
  justify-content: center;
  align-items: center;
  color: var(--slate-gray);
  text-align: center;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: -0.0175rem;
  border-radius: 0.25rem;
  background: var(--light-blue);
}