.title {
  color: var(--dark-slate);
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 2.25rem */
  letter-spacing: -0.03rem;
  text-align: center;
}