.navItemContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.875rem 2rem;
  border-radius: 0.875rem;
  text-decoration: none;
  transition: background 0.1s ease-in;
  width: 100%;
  justify-content: space-between;

  .title {
    transition: color 0.1s ease-in;
    color: var(--silver);
    font-family: Golos, Aril, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
    text-align: left;
  }

  .icon {
    svg {
      path {
        fill: var(--cool-gray);
        transition: fill 0.1s ease-in;
      }
    }
  }

  .arrowIcon {
    margin-left: auto;
    transition: transform 0.2s ease-in-out;

    svg {
      width: 1rem;
      height: 1rem;

      path {
        stroke: var(--cool-gray);
      }
    }
  }

  .arrowIconOpen {
    transform: rotate(-180deg);
  }


  &:hover {
    background: var(--light-white-opacity);

    .title {
      color: var(--white);
    }


    .icon {
      svg {
        path {
          fill: var(--white);
        }
      }
    }

    .arrowIcon svg path {
      stroke: var(--white);
    }

  }
}


.active {
  background: var(--light-white-opacity);

  .icon {
    svg {
      path {
        fill: var(--white);
      }
    }
  }

  .title {
    color: var(--white);
  }

  .arrowIcon svg path {
    stroke: var(--white);
  }
}

.subMenu {
  position: absolute;
  top: calc(100% + 0.1rem);
  left: 0;
  background-color: var(--dark-teal);
  border-radius: 0.875rem 0.875rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 0.5rem .25rem;
  gap: .25rem;
  z-index: 10;
  min-width: 100%;
  display: flex;
  flex-direction: column;

  .subMenuItem {
    .navItem {
      justify-content: flex-start;

      .title {
        font-family: Golos, Aril, Helvetica, sans-serif;
        font-size: 0.875rem;
        white-space: nowrap;
      }

      .icon svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}