.root {
  display: flex;
  gap: 1rem;
  align-items: center;

  .user-wrapper {
    border-radius: 6.25rem;
    background: rgba(244, 244, 247, 0.10);
    display: flex;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;

    svg {
      width: 2rem !important;
      min-width: 2rem !important;

      path {

      }
    }
  }

  .icon-wrapper {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.15rem;
    border: 1.5px solid var(--light-blue);
    background: var(--light-blue);

    svg {
      width: 2.5rem !important;
      max-width: 2.5rem !important;
    }
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;

    .title {
      color: var(--white);
      font-family: Golos, Arial, Helvetica, sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }

    .subTitle {
      color: var(--light-gray-2);
      font-family: Golos, Arial, Helvetica, sans-serif;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }

}