.root {
  display: flex;
  gap: .75rem;

  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--dark-teal);
    background: var(--white);
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: -0.03375rem;
    transition: all 0.05s linear;
    cursor: pointer;
    border: none;

    svg {
      transform: rotate(-90deg);
      transition: all 0.05s linear;

      path {
        transition: all 0.05s linear;
        stroke: var(--light-gray-2);
      }
    }

    &:hover {
      color: var(--white);
      background: var(--teal-green);
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;

      svg {
        path {
          stroke: var(--white);
        }
      }
    }
  }

  .active {
    color: var(--white);
    background: var(--teal-green);
    //box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;


    svg {
      path {
        stroke: var(--white);
      }
    }
  }
}