.root {
  display: flex;
  gap: .75rem;

  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    border-radius: 1rem;
    text-align: start;
    padding: 1rem;
    color: var(--dark-teal);
    background: var(--white);
    font-family: Golos, Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transition: all 0.05s linear;
    border: none;
    cursor: pointer;

    .icon-wrapper {
      align-items: center;
      transition: all 0.06s linear;
      padding: 0.625rem;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      background: var(--light-blue);
      box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.05);

      svg {
        width: 1.25rem !important;
        max-width: 1.25rem !important;
        min-width: 1.25rem !important;
        transform: rotate(0deg) !important;

        path {
          stroke: var(--dark-slate) !important;
        }
      }
    }

    svg {
      transform: rotate(-90deg);
      transition: all 0.05s linear;

      path {
        transition: all 0.05s linear;
        stroke: var(--light-gray-2);
      }
    }

    &:hover {
      color: var(--white);
      background: var(--teal-green);
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;

      svg {
        path {
          stroke: var(--white);
        }
      }

      .icon-wrapper {
        background: var(--white);
        box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.09);
      }
    }
  }

  .active {
    color: var(--white);
    background: var(--teal-green);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;

    svg {
      path {
        stroke: var(--white);
      }
    }

    .icon-wrapper {
      background: var(--white);
      box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.09);
    }
  }
}