// ManRope

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Regular.eot');
  src: url('../assets/fonts/Manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
  url('../assets/fonts/Manrope/Manrope-Regular.woff') format('woff'),
  url('../assets/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Medium.eot');
  src: url('../assets/fonts/Manrope/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
  url('../assets/fonts/Manrope/Manrope-Medium.woff') format('woff'),
  url('../assets/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Semibold.eot');
  src: url('../assets/fonts/Manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
  url('../assets/fonts/Manrope/Manrope-Semibold.woff') format('woff'),
  url('../assets/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Semibold.eot');
  src: url('../assets/fonts/Manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
  url('../assets/fonts/Manrope/Manrope-Semibold.woff') format('woff'),
  url('../assets/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

// GText

@font-face {
  font-family: 'Golos';
  src: url('../assets/fonts/Golos/GolosText-Regular.eot');
  src: url('../assets/fonts/Golos/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Golos/GolosText-Regular.woff2') format('woff2'),
  url('../assets/fonts/Golos/GolosText-Regular.woff') format('woff'),
  url('../assets/fonts/Golos/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('../assets/fonts/Golos/GolosText-Medium.eot');
  src: url('../assets/fonts/Golos/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Golos/GolosText-Medium.woff2') format('woff2'),
  url('../assets/fonts/Golos/GolosText-Medium.woff') format('woff'),
  url('../assets/fonts/Golos/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('../assets/fonts/Golos/GolosText-DemiBold.eot');
  src: url('../assets/fonts/Golos/GolosText-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Golos/GolosText-DemiBold.woff2') format('woff2'),
  url('../assets/fonts/Golos/GolosText-DemiBold.woff') format('woff'),
  url('../assets/fonts/Golos/GolosText-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('../assets/fonts/Golos/GolosText-Bold.eot');
  src: url('../assets/fonts/Golos/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Golos/GolosText-Bold.woff2') format('woff2'),
  url('../assets/fonts/Golos/GolosText-Bold.woff') format('woff'),
  url('../assets/fonts/Golos/GolosText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}