:root {
  // LOADER
  --loader-size: 4rem;

  // COLORS
  --primary-blue: #2352D4; /* Primary blue */
  --light-gray-1: #F6F6F6; /* Light gray */
  --light-gray-2: #F0F0F0; /* Lighter gray */
  --white: #FFF; /* White */
  --ocean-green: #18BA92; /* Ocean Green */
  --orange: #FF6E01; /* orange */
  --red: #F42829; /* Red */
}
