:root {
  // LOADER
  --loader-size: 4rem;

  // COLORS
  --white: #FFF; /* White */
  --primary-blue: #2352D4; /* Primary blue */
  --light-gray-1: #F4F4F7; /* Lighter gray 1 */
  --light-gray-2: #ACB5BB; /* Light gray 2 */
  --light-gray-3: #DCE4E8; /* Light gray 3 */
  --dark-slate: #1A1C1E; /* Dark slate */
  --ocean-green: #18BA92; /* Ocean Green */
  --orange: #F7630C; /* orange | #FF6E01 */
  --red: #b3261e; /* Red */
  --dark-teal: #0C473B; /* Dark Teal */
  --deep-forest: #0B3930; /* Deep Forest */
  --teal-green: #31B099; /* Teal Green */
  --teal-green-light: #D6FBE6; /* Teal Green Light */
  --crimson-red: #C65468; /* Teal Green Light */
  --red-alert: #F44336; /* Teal Green Light */
  --deep-red: #FCE4DF; /* Teal Green Light */
  --burnt-orange: #E7854D; /* Teal Green Light */
  --peach-cream: #FDF0DB; /* Teal Green Light */
  --silver: silver; /* Silver */
  --teal: #187D7E; /* Teal */
  --light-white-opacity: rgba(255, 255, 255, 0.10);
  --light-dark-opacity: rgba(0, 0, 0, 0.5);
  --cool-gray: #A2A6AA;
  --light-blue: #EDF1F3;
  --slate-gray: #6C7278;
}
