:root {
  // LOADER
  --loader-size: 4rem;

  // COLORS
  --white: #FFF; /* White */
  --primary-blue: #2352D4; /* Primary blue */
  --light-gray-1: #F4F4F7; /* Lighter gray 1 */
  --light-gray-2: #ACB5BB; /* Light gray 2 */
  --light-gray-3: #DCE4E8; /* Light gray 3 */
  --dark-slate: #1A1C1E; /* Dark slate */
  --ocean-green: #18BA92; /* Ocean Green */
  --orange: #FF6E01; /* orange */
  --red: #C65468; /* Red */
  --dark-teal: #0C473B; /* Dark Teal */
  --deep-forest: #0B3930; /* Deep Forest */
  --teal-green: #31B099; /* Teal Green */
  --silver: silver; /* Silver */
  --teal: #187D7E; /* Teal */
  --light-white-opacity: rgba(255, 255, 255, 0.10);
  --cool-gray: #A2A6AA;
}
